package web

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<script src="/js/htmx.min.js"></script>
			<link rel="stylesheet" href="/styles/tailwind.css"/>
		</head>
		<body>
			<main class="flex items-center justify-center w-full">
				{ children... }
			</main>
		</body>
	</html>
}
